<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>select_assignment2_flicks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF05D3401D279E2400DFE526</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF05D3541D279E2500DFE526</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF05D35F1D279E2500DFE526</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
